/***************
    General
 ***************/
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #e7e7e7 !important;
    height: 100%;
}

h1,h2,h3 {
    margin: 20px !important;
}
/***************
    Sheet
 ***************/

.sheet {
    background: white !important;
    margin-top: 100px;
    padding: 10px;
    padding-bottom: 30px;
    min-height: 500px;
    border-radius: 5px;
    box-shadow: rgba(70, 70, 70, 0.26) 1px 1px 1px 1px;
}
.appIcon {
    height: 83.5px;
    width : 83.5px;
    margin: 10px;
}
.table-infos td {
    padding: 5px;
}

/***************
    Navbar
 ***************/

.navbar {
    background-color: black !important;
}
.navbar-brand {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
